<%= render 'navigationbar' %>
<br>
<br>
<br>


<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active" align="center">
        <%= image_tag("taeyeon.jpg", :width => "600" , :height => "500" ) %>
        <div class="carousel-caption">
          
        </div>
      </div>

      <div class="item" align="center">
        <%= image_tag("taeyeonchibi.png", :width => "600" , :height => "500" ) %>
        <div class="carousel-caption">
          
        </div>
      </div>
    
      <div class="item" align="center">
        <%= image_tag("tiffany.jpg", :width => "600" , :height => "500" ) %>
        <div class="carousel-caption">
          
        </div>
      </div>

      <div class="item" align="center">
        <%= image_tag("redvelvet.jpg", :width => "600" , :height => "500" ) %>
        <div class="carousel-caption">
          
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
     
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
     
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="col-xs-12 col-sm-3 side pull-right sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
	            <h5>facebook:riku@gmail.com</h5>
	            <h5>twiter:riku@mail.com</h5>
	            <h5>alamat:jl harapan bangsano 23,bandung,Indonesia</h5>
            </div>
           </div>
           
<div class="col-xs-5 col-sm-4 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
	            <h3>haloo nama saya riku dan saya ini akan lulus dari kuliah,
	            	salam kenal ya. Berikut contoh hasil desaign grafik yang saya buat :)</h3>
	            
            </div>
           </div>